div{
    border-radius: 16px;
}
body{
    color: white;
    margin: 0;
    background-color: black;
    text-align: center;
    font-size: 72px;
    padding: 10px;
    overflow: hidden;
    white-space: wrap;
}
button{
    font-size: 36px;
    margin-bottom: 14px;
}
#contents{
    font-size: 36px;
}
#ABC101
{
    background-color: darkblue;
    display:flex;
    flex-direction: column;
}

.HoldElement{
    background-color: blue;
    height: 40px;
}
 
p{
    margin:0;
}
input{
    font-size: 36px;
    height: 40px;
    margin-bottom: 32px;
}